body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1330px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1330px;
  height:40px;
  background:-webkit-linear-gradient(180deg, rgba(2, 203, 152, 1) 0%, rgba(2, 203, 152, 1) 0%, rgba(54, 181, 140, 1) 100%, rgba(54, 181, 140, 1) 100%);
  background:-moz-linear-gradient(270deg, rgba(2, 203, 152, 1) 0%, rgba(2, 203, 152, 1) 0%, rgba(54, 181, 140, 1) 100%, rgba(54, 181, 140, 1) 100%);
  background:linear-gradient(270deg, rgba(2, 203, 152, 1) 0%, rgba(2, 203, 152, 1) 0%, rgba(54, 181, 140, 1) 100%, rgba(54, 181, 140, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u914 {
  position:absolute;
  left:0px;
  top:0px;
  width:1330px;
  height:40px;
}
#u915 {
  position:absolute;
  left:2px;
  top:12px;
  width:1326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:1384px;
  background:inherit;
  background-color:rgba(60, 81, 110, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u916 {
  position:absolute;
  left:130px;
  top:40px;
  width:1200px;
  height:1384px;
}
#u917 {
  position:absolute;
  left:2px;
  top:684px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:26px;
}
#u918 {
  position:absolute;
  left:20px;
  top:8px;
  width:33px;
  height:26px;
}
#u919 {
  position:absolute;
  left:2px;
  top:5px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#37415D;
}
#u920 {
  position:absolute;
  left:63px;
  top:7px;
  width:177px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#37415D;
}
#u921 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  white-space:nowrap;
}
#u922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:9px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#36435E;
}
#u922 {
  position:absolute;
  left:63px;
  top:26px;
  width:237px;
  height:9px;
  font-size:8px;
  color:#36435E;
}
#u923 {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  word-wrap:break-word;
}
#u924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#37415D;
}
#u924 {
  position:absolute;
  left:1185px;
  top:14px;
  width:92px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#37415D;
}
#u925 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u926 {
  position:absolute;
  left:1285px;
  top:8px;
  width:32px;
  height:32px;
}
#u927 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:1273px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u928 {
  position:absolute;
  left:130px;
  top:95px;
  width:1200px;
  height:1273px;
}
#u929 {
  position:absolute;
  left:2px;
  top:628px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:8px;
}
#u930 {
  position:absolute;
  left:120px;
  top:150px;
  width:9px;
  height:8px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u931 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u932 {
  position:absolute;
  left:149px;
  top:55px;
  width:476px;
  height:30px;
}
#u932_input {
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  height:30px;
  background-color:#323F5D;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#4D5D79;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u932_input {
  font-family:'Microsoft Sans Serif';
}
#u933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u933 {
  position:absolute;
  left:586px;
  top:61px;
  width:18px;
  height:18px;
}
#u934 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:1384px;
  background:inherit;
  background-color:rgba(44, 53, 66, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u935 {
  position:absolute;
  left:0px;
  top:40px;
  width:130px;
  height:1384px;
}
#u936 {
  position:absolute;
  left:2px;
  top:684px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u937 {
  position:absolute;
  left:0px;
  top:95px;
}
#u937_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:131px;
  height:39px;
  background-image:none;
}
#u937_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:39px;
  background:inherit;
  background-color:rgba(54, 67, 94, 0.709803921568627);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftSansSerif', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u938 {
  position:absolute;
  left:0px;
  top:39px;
  width:131px;
  height:39px;
  font-family:'MicrosoftSansSerif', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u939 {
  position:absolute;
  left:2px;
  top:12px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftSansSerif', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
  text-align:right;
}
#u940 {
  position:absolute;
  left:58px;
  top:49px;
  width:53px;
  height:18px;
  font-family:'MicrosoftSansSerif', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
  text-align:right;
}
#u941 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:8px;
}
#u942 {
  position:absolute;
  left:120px;
  top:56px;
  width:9px;
  height:8px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-family:'MicrosoftSansSerif', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u943 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:39px;
  background:inherit;
  background-color:rgba(54, 67, 94, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(66, 82, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftSansSerif', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
}
#u944 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:39px;
  font-family:'MicrosoftSansSerif', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
}
#u945 {
  position:absolute;
  left:2px;
  top:12px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftSansSerif', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  color:#00CC99;
}
#u946 {
  position:absolute;
  left:15px;
  top:10px;
  width:116px;
  height:18px;
  font-family:'MicrosoftSansSerif', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  color:#00CC99;
}
#u947 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u937_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:140px;
  height:78px;
  visibility:hidden;
  background-image:none;
}
#u937_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:39px;
  background:inherit;
  background-color:rgba(54, 67, 94, 0.709803921568627);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftSansSerif', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u948 {
  position:absolute;
  left:0px;
  top:39px;
  width:131px;
  height:39px;
  font-family:'MicrosoftSansSerif', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u949 {
  position:absolute;
  left:2px;
  top:12px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftSansSerif', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
  text-align:right;
}
#u950 {
  position:absolute;
  left:58px;
  top:49px;
  width:53px;
  height:18px;
  font-family:'MicrosoftSansSerif', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
  text-align:right;
}
#u951 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:39px;
  background:inherit;
  background-color:rgba(54, 67, 94, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(66, 82, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftSansSerif', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
}
#u952 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:39px;
  font-family:'MicrosoftSansSerif', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
}
#u953 {
  position:absolute;
  left:2px;
  top:12px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftSansSerif', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  color:#00CC99;
}
#u954 {
  position:absolute;
  left:15px;
  top:10px;
  width:125px;
  height:18px;
  font-family:'MicrosoftSansSerif', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  color:#00CC99;
}
#u955 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  word-wrap:break-word;
}
#u956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:8px;
}
#u956 {
  position:absolute;
  left:120px;
  top:56px;
  width:9px;
  height:8px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-family:'MicrosoftSansSerif', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u957 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u958 {
  position:absolute;
  left:0px;
  top:134px;
}
#u958_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:131px;
  height:39px;
  background-image:none;
}
#u958_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:39px;
  background:inherit;
  background-color:rgba(54, 67, 94, 0.709803921568627);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(112, 122, 141, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftSansSerif', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
}
#u959 {
  position:absolute;
  left:0px;
  top:77px;
  width:131px;
  height:39px;
  font-family:'MicrosoftSansSerif', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
}
#u960 {
  position:absolute;
  left:2px;
  top:12px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:39px;
  background:inherit;
  background-color:rgba(54, 67, 94, 0.709803921568627);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(66, 82, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftSansSerif', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
}
#u961 {
  position:absolute;
  left:0px;
  top:115px;
  width:131px;
  height:39px;
  font-family:'MicrosoftSansSerif', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
}
#u962 {
  position:absolute;
  left:2px;
  top:12px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:39px;
  background:inherit;
  background-color:rgba(54, 67, 94, 0.709803921568627);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftSansSerif', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u963 {
  position:absolute;
  left:0px;
  top:39px;
  width:131px;
  height:39px;
  font-family:'MicrosoftSansSerif', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u964 {
  position:absolute;
  left:2px;
  top:12px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftSansSerif', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
  text-align:right;
}
#u965 {
  position:absolute;
  left:58px;
  top:49px;
  width:53px;
  height:18px;
  font-family:'MicrosoftSansSerif', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
  text-align:right;
}
#u966 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:8px;
}
#u967 {
  position:absolute;
  left:120px;
  top:56px;
  width:9px;
  height:8px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-family:'MicrosoftSansSerif', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u968 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftSansSerif', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#00CC99;
  text-align:right;
}
#u969 {
  position:absolute;
  left:58px;
  top:87px;
  width:53px;
  height:18px;
  font-family:'MicrosoftSansSerif', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#00CC99;
  text-align:right;
}
#u970 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftSansSerif', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#00CC99;
  text-align:right;
}
#u971 {
  position:absolute;
  left:58px;
  top:124px;
  width:53px;
  height:18px;
  font-family:'MicrosoftSansSerif', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#00CC99;
  text-align:right;
}
#u972 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:39px;
  background:inherit;
  background-color:rgba(54, 67, 94, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(66, 82, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftSansSerif', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
}
#u973 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:39px;
  font-family:'MicrosoftSansSerif', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
}
#u974 {
  position:absolute;
  left:2px;
  top:12px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftSansSerif', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  color:#00CC99;
}
#u975 {
  position:absolute;
  left:15px;
  top:10px;
  width:116px;
  height:18px;
  font-family:'MicrosoftSansSerif', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  color:#00CC99;
}
#u976 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:39px;
  background:inherit;
  background-color:rgba(54, 67, 94, 0.709803921568627);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(66, 82, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftSansSerif', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
}
#u977 {
  position:absolute;
  left:0px;
  top:153px;
  width:131px;
  height:39px;
  font-family:'MicrosoftSansSerif', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
}
#u978 {
  position:absolute;
  left:2px;
  top:12px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftSansSerif', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#00CC99;
  text-align:right;
}
#u979 {
  position:absolute;
  left:58px;
  top:162px;
  width:53px;
  height:18px;
  font-family:'MicrosoftSansSerif', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#00CC99;
  text-align:right;
}
#u980 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u958_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:131px;
  height:192px;
  visibility:hidden;
  background-image:none;
}
#u958_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:39px;
  background:inherit;
  background-color:rgba(54, 67, 94, 0.709803921568627);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(112, 122, 141, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftSansSerif', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
}
#u981 {
  position:absolute;
  left:0px;
  top:77px;
  width:131px;
  height:39px;
  font-family:'MicrosoftSansSerif', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
}
#u982 {
  position:absolute;
  left:2px;
  top:12px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:39px;
  background:inherit;
  background-color:rgba(54, 67, 94, 0.709803921568627);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(66, 82, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftSansSerif', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
}
#u983 {
  position:absolute;
  left:0px;
  top:115px;
  width:131px;
  height:39px;
  font-family:'MicrosoftSansSerif', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
}
#u984 {
  position:absolute;
  left:2px;
  top:12px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:39px;
  background:inherit;
  background-color:rgba(54, 67, 94, 0.709803921568627);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftSansSerif', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u985 {
  position:absolute;
  left:0px;
  top:39px;
  width:131px;
  height:39px;
  font-family:'MicrosoftSansSerif', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u986 {
  position:absolute;
  left:2px;
  top:12px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftSansSerif', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
  text-align:right;
}
#u987 {
  position:absolute;
  left:58px;
  top:49px;
  width:53px;
  height:18px;
  font-family:'MicrosoftSansSerif', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
  text-align:right;
}
#u988 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftSansSerif', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#00CC99;
  text-align:right;
}
#u989 {
  position:absolute;
  left:58px;
  top:87px;
  width:53px;
  height:18px;
  font-family:'MicrosoftSansSerif', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#00CC99;
  text-align:right;
}
#u990 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftSansSerif', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#00CC99;
  text-align:right;
}
#u991 {
  position:absolute;
  left:58px;
  top:124px;
  width:53px;
  height:18px;
  font-family:'MicrosoftSansSerif', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#00CC99;
  text-align:right;
}
#u992 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:39px;
  background:inherit;
  background-color:rgba(54, 67, 94, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(66, 82, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftSansSerif', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
}
#u993 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:39px;
  font-family:'MicrosoftSansSerif', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
}
#u994 {
  position:absolute;
  left:2px;
  top:12px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftSansSerif', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  color:#00CC99;
}
#u995 {
  position:absolute;
  left:15px;
  top:10px;
  width:116px;
  height:18px;
  font-family:'MicrosoftSansSerif', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  color:#00CC99;
}
#u996 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:8px;
}
#u997 {
  position:absolute;
  left:120px;
  top:56px;
  width:9px;
  height:8px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-family:'MicrosoftSansSerif', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u998 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:39px;
  background:inherit;
  background-color:rgba(54, 67, 94, 0.709803921568627);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(66, 82, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftSansSerif', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
}
#u999 {
  position:absolute;
  left:0px;
  top:153px;
  width:131px;
  height:39px;
  font-family:'MicrosoftSansSerif', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
}
#u1000 {
  position:absolute;
  left:2px;
  top:12px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftSansSerif', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#00CC99;
  text-align:right;
}
#u1001 {
  position:absolute;
  left:32px;
  top:162px;
  width:79px;
  height:18px;
  font-family:'MicrosoftSansSerif', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#00CC99;
  text-align:right;
}
#u1002 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u1003 {
  position:absolute;
  left:1012px;
  top:8px;
  width:140px;
  height:25px;
}
#u1003_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1003_input {
  font-family:'Microsoft Sans Serif';
}
#u1004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1168px;
  height:49px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1004 {
  position:absolute;
  left:149px;
  top:183px;
  width:1168px;
  height:49px;
}
#u1005 {
  position:absolute;
  left:2px;
  top:16px;
  width:1164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftSansSerif', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1006 {
  position:absolute;
  left:165px;
  top:196px;
  width:102px;
  height:22px;
  font-family:'MicrosoftSansSerif', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1007 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u1008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u1008 {
  position:absolute;
  left:239px;
  top:198px;
  width:126px;
  height:20px;
  color:#666666;
}
#u1009 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  word-wrap:break-word;
}
#u1010 {
  position:absolute;
  left:986px;
  top:195px;
  width:57px;
  height:25px;
}
#u1010_input {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1010_input {
  font-family:'Microsoft Sans Serif';
}
#u1011 {
  position:absolute;
  left:1071px;
  top:195px;
  width:57px;
  height:25px;
}
#u1011_input {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1011_input {
  font-family:'Microsoft Sans Serif';
}
#u1012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:25px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1012 {
  position:absolute;
  left:1234px;
  top:195px;
  width:62px;
  height:25px;
}
#u1013 {
  position:absolute;
  left:2px;
  top:4px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:25px;
  background:inherit;
  background-color:rgba(17, 197, 149, 1);
  border:none;
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1014 {
  position:absolute;
  left:1234px;
  top:195px;
  width:38px;
  height:25px;
}
#u1015 {
  position:absolute;
  left:2px;
  top:4px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1168px;
  height:73px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1016 {
  position:absolute;
  left:149px;
  top:266px;
  width:1168px;
  height:73px;
}
#u1017 {
  position:absolute;
  left:2px;
  top:28px;
  width:1164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftSansSerif', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1018 {
  position:absolute;
  left:165px;
  top:279px;
  width:200px;
  height:28px;
  font-family:'MicrosoftSansSerif', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1019 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u1020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1020 {
  position:absolute;
  left:165px;
  top:312px;
  width:284px;
  height:20px;
}
#u1021 {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  word-wrap:break-word;
}
#u1022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u1022 {
  position:absolute;
  left:256px;
  top:284px;
  width:200px;
  height:22px;
  font-size:16px;
  color:#666666;
}
#u1023 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u1024 {
  position:absolute;
  left:911px;
  top:290px;
  width:57px;
  height:25px;
}
#u1024_input {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1024_input {
  font-family:'Microsoft Sans Serif';
}
#u1025 {
  position:absolute;
  left:996px;
  top:290px;
  width:57px;
  height:25px;
}
#u1025_input {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1025_input {
  font-family:'Microsoft Sans Serif';
}
#u1026 {
  position:absolute;
  left:1071px;
  top:290px;
  width:57px;
  height:25px;
}
#u1026_input {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1026_input {
  font-family:'Microsoft Sans Serif';
}
#u1027 {
  position:absolute;
  left:1151px;
  top:290px;
  width:57px;
  height:25px;
}
#u1027_input {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1027_input {
  font-family:'Microsoft Sans Serif';
}
#u1028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:25px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1028 {
  position:absolute;
  left:1234px;
  top:290px;
  width:62px;
  height:25px;
}
#u1029 {
  position:absolute;
  left:2px;
  top:4px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:25px;
  background:inherit;
  background-color:rgba(17, 197, 149, 1);
  border:none;
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1030 {
  position:absolute;
  left:1234px;
  top:290px;
  width:38px;
  height:25px;
}
#u1031 {
  position:absolute;
  left:2px;
  top:4px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1168px;
  height:73px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1032 {
  position:absolute;
  left:149px;
  top:349px;
  width:1168px;
  height:73px;
}
#u1033 {
  position:absolute;
  left:2px;
  top:28px;
  width:1164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftSansSerif', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1034 {
  position:absolute;
  left:165px;
  top:362px;
  width:200px;
  height:28px;
  font-family:'MicrosoftSansSerif', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1035 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u1036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1036 {
  position:absolute;
  left:165px;
  top:395px;
  width:284px;
  height:20px;
}
#u1037 {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  word-wrap:break-word;
}
#u1038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u1038 {
  position:absolute;
  left:256px;
  top:367px;
  width:200px;
  height:22px;
  font-size:16px;
  color:#666666;
}
#u1039 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u1040 {
  position:absolute;
  left:911px;
  top:373px;
  width:57px;
  height:25px;
}
#u1040_input {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1040_input {
  font-family:'Microsoft Sans Serif';
}
#u1041 {
  position:absolute;
  left:996px;
  top:373px;
  width:57px;
  height:25px;
}
#u1041_input {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1041_input {
  font-family:'Microsoft Sans Serif';
}
#u1042 {
  position:absolute;
  left:1071px;
  top:373px;
  width:57px;
  height:25px;
}
#u1042_input {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1042_input {
  font-family:'Microsoft Sans Serif';
}
#u1043 {
  position:absolute;
  left:1151px;
  top:373px;
  width:57px;
  height:25px;
}
#u1043_input {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1043_input {
  font-family:'Microsoft Sans Serif';
}
#u1044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:25px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1044 {
  position:absolute;
  left:1234px;
  top:373px;
  width:62px;
  height:25px;
}
#u1045 {
  position:absolute;
  left:2px;
  top:4px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:25px;
  background:inherit;
  background-color:rgba(17, 197, 149, 1);
  border:none;
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1046 {
  position:absolute;
  left:1234px;
  top:373px;
  width:38px;
  height:25px;
}
#u1047 {
  position:absolute;
  left:2px;
  top:4px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1168px;
  height:73px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1048 {
  position:absolute;
  left:149px;
  top:432px;
  width:1168px;
  height:73px;
}
#u1049 {
  position:absolute;
  left:2px;
  top:28px;
  width:1164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftSansSerif', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1050 {
  position:absolute;
  left:165px;
  top:445px;
  width:200px;
  height:28px;
  font-family:'MicrosoftSansSerif', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1051 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u1052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1052 {
  position:absolute;
  left:165px;
  top:478px;
  width:284px;
  height:20px;
}
#u1053 {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  word-wrap:break-word;
}
#u1054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u1054 {
  position:absolute;
  left:256px;
  top:450px;
  width:200px;
  height:22px;
  font-size:16px;
  color:#666666;
}
#u1055 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u1056 {
  position:absolute;
  left:911px;
  top:456px;
  width:57px;
  height:25px;
}
#u1056_input {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1056_input {
  font-family:'Microsoft Sans Serif';
}
#u1057 {
  position:absolute;
  left:996px;
  top:456px;
  width:57px;
  height:25px;
}
#u1057_input {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1057_input {
  font-family:'Microsoft Sans Serif';
}
#u1058 {
  position:absolute;
  left:1071px;
  top:456px;
  width:57px;
  height:25px;
}
#u1058_input {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1058_input {
  font-family:'Microsoft Sans Serif';
}
#u1059 {
  position:absolute;
  left:1151px;
  top:456px;
  width:57px;
  height:25px;
}
#u1059_input {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1059_input {
  font-family:'Microsoft Sans Serif';
}
#u1060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:25px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1060 {
  position:absolute;
  left:1234px;
  top:456px;
  width:62px;
  height:25px;
}
#u1061 {
  position:absolute;
  left:2px;
  top:4px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:25px;
  background:inherit;
  background-color:rgba(17, 197, 149, 1);
  border:none;
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1062 {
  position:absolute;
  left:1234px;
  top:456px;
  width:38px;
  height:25px;
}
#u1063 {
  position:absolute;
  left:2px;
  top:4px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1168px;
  height:73px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1064 {
  position:absolute;
  left:149px;
  top:515px;
  width:1168px;
  height:73px;
}
#u1065 {
  position:absolute;
  left:2px;
  top:28px;
  width:1164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftSansSerif', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1066 {
  position:absolute;
  left:165px;
  top:528px;
  width:200px;
  height:28px;
  font-family:'MicrosoftSansSerif', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1067 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u1068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1068 {
  position:absolute;
  left:165px;
  top:561px;
  width:284px;
  height:20px;
}
#u1069 {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  word-wrap:break-word;
}
#u1070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u1070 {
  position:absolute;
  left:256px;
  top:533px;
  width:200px;
  height:22px;
  font-size:16px;
  color:#666666;
}
#u1071 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u1072 {
  position:absolute;
  left:911px;
  top:539px;
  width:57px;
  height:25px;
}
#u1072_input {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1072_input {
  font-family:'Microsoft Sans Serif';
}
#u1073 {
  position:absolute;
  left:996px;
  top:539px;
  width:57px;
  height:25px;
}
#u1073_input {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1073_input {
  font-family:'Microsoft Sans Serif';
}
#u1074 {
  position:absolute;
  left:1071px;
  top:539px;
  width:57px;
  height:25px;
}
#u1074_input {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1074_input {
  font-family:'Microsoft Sans Serif';
}
#u1075 {
  position:absolute;
  left:1151px;
  top:539px;
  width:57px;
  height:25px;
}
#u1075_input {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1075_input {
  font-family:'Microsoft Sans Serif';
}
#u1076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:25px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1076 {
  position:absolute;
  left:1234px;
  top:539px;
  width:62px;
  height:25px;
}
#u1077 {
  position:absolute;
  left:2px;
  top:4px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:25px;
  background:inherit;
  background-color:rgba(17, 197, 149, 1);
  border:none;
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1078 {
  position:absolute;
  left:1234px;
  top:539px;
  width:38px;
  height:25px;
}
#u1079 {
  position:absolute;
  left:2px;
  top:4px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1165px;
  height:41px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1080 {
  position:absolute;
  left:152px;
  top:118px;
  width:1165px;
  height:41px;
}
#u1081 {
  position:absolute;
  left:2px;
  top:12px;
  width:1161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:32px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1082 {
  position:absolute;
  left:174px;
  top:123px;
  width:118px;
  height:32px;
  font-size:16px;
}
#u1083 {
  position:absolute;
  left:2px;
  top:5px;
  width:114px;
  word-wrap:break-word;
}
#u1084 {
  position:absolute;
  left:1151px;
  top:195px;
  width:57px;
  height:25px;
}
#u1084_input {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1084_input {
  font-family:'Microsoft Sans Serif';
}
#u1085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1168px;
  height:191px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1085 {
  position:absolute;
  left:149px;
  top:231px;
  width:1168px;
  height:191px;
}
#u1086 {
  position:absolute;
  left:2px;
  top:88px;
  width:1164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftSansSerif', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
}
#u1087 {
  position:absolute;
  left:165px;
  top:251px;
  width:89px;
  height:20px;
  font-family:'MicrosoftSansSerif', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
}
#u1088 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u1089 {
  position:absolute;
  left:254px;
  top:249px;
  width:300px;
  height:25px;
}
#u1089_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1089_input {
  font-family:'Microsoft Sans Serif';
}
